.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 70%;
    width: 60%;
    gap: 1rem;
    flex: 1;
}

.errorMessage {
    margin: 1rem;
}

.header {
    align-content: center;
    width: inherit;
}

.content{
    padding: 10px 30px;
    margin: 15px;
    min-height: 20rem;
    width:inherit
}

.imageview{
    width:5rem;
    height:5rem;
}